#page-title {
  background-color: grey;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  margin-top: -15px;
  font-family: "Patua One", cursive;
}
#searchbar {
  width: 400px;
}
button {
  width: 50px;
  height: 47px;
  padding-right: 20px;
  margin-right: 20px;
}
div.col-md-4 {
  padding-right: 0px;
}
div.col-md-1 {
  padding-left: 0px;
}
#History-Container {
  width: 250px;
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-left: 0px;
}
